div#sun {
    position: absolute;
    top: 100vw;
    left: 47vw;
    background-color: white;
    height: 6vw;
    width: 6vw;
    display: none;
    box-shadow: 0px 0px 512px 32px yellow;
}

.sunActive {
    display: block !important;
    animation: revCycle 30s linear infinite, colorCycleSun 30s infinite;
}

div#moon {
    position: absolute;
    top: 100vw;
    left: 48vw;
    background-color: lightblue;
    height: 4vw;
    width: 4vw;
    display: none;

    div.dark {
        height: 75%;
        width: 75%;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

div#moon.moonActive {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-shadow: 0px 0px 64px 8px white;
    animation: revCycle 30s linear infinite;
}

@import 'animations';

div#sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: skyblue;
    background: -webkit-linear-gradient(bottom, skyblue 0%, #fff 100%);
    background: -linear-gradient(bottom, skyblue 0%, #fff 100%);
    background: -moz-linear-gradient(bottom, skyblue 0%, #fff 100%);
}

div#sky.nightSky {
    background-color: black;
    background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 5px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 10px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 18px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 2px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

div#earth {
    position: absolute;
    left: -25vw;
    top: 85vh;
    height: 30vh;
    width: 150vw;
    border-radius: 50%;
    background-color: mediumseagreen;
    overflow: hidden;
}

div#earth.nightEarth {
    background-color: midnightblue;
    @import 'clouds';
}

section.content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
